<div id="songs_page">
	<h3>Here are all the songs in the list:</h3>
  <% @all_songs.each do |song| %>
  <ul id="<%= 'favorite' if song.favorite %>">
    <li><h4><%= song.song_name %></h4></li>
    <p id="actions"><a href="/fav/<%= song.id %>">Fav</a>
                    <a href="/<%= song.id %>/edit">Update</a>
                    <a href="/<%= song.id %>/delete">Delete</a><p>
      <ul>
        <li>Artist: <%= song.artist %></li>
        <li>Length: <%= song.length %></li>
        <li>Genre: <%= song.genre %></li>
        <li>ID: <%= song.id %></li>
      </ul>
    </ul>
    <% end %>
  </div>